<nav class="bg-gray-200 border-gray-200 mb-5">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img routerLink="/home" src="/Images/freshcart-logo.svg" class="h-8 cursor-pointer" alt="Flowbite Logo" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden grow md:flex md:w-auto" id="navbar-default">
        @if (isLogin===true) 
        {
            <ul class="font-medium text-center flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                <li>
                    <a class="block py-2 px-3 text-gray-600 rounded-sm md:bg-transparent hover:underline hover:underline-offset-[5px] " aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a class="block py-2 px-3 text-gray-600 rounded-sm md:bg-transparent hover:underline hover:underline-offset-[5px] " aria-current="page" routerLink="/products" routerLinkActive="active">Products</a>
                </li>
                <li>
                    <a class="block py-2 px-3 text-gray-600 rounded-sm md:bg-transparent hover:underline hover:underline-offset-[5px] " aria-current="page" routerLink="/brands" routerLinkActive="active">Brands</a>
                </li>
                </ul>
                <ul class="flex items-center gap-2 ms-auto justify-center lg:mt-0 mt-2">
                  <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                </li>
                <li>
                    <i class="fa-brands fa-tiktok"></i>
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class="relative">
                    <a class=" " aria-current="page" routerLink="/cart" routerLinkActive="active"><i class=" fa-solid fa-cart-shopping fa-xl"></i></a>
                    @if (count>0) 
                    {
                        <p class="cursor-pointer absolute top-0 start-1/2 -translate-x-1/2 text-white text-xs font-extrabold">{{count}}</p>
                    }
                </li>
                <li>
                    <a (click)="out()" class="block  text-gray-600 rounded-sm md:bg-transparent cursor-pointer" aria-current="page" >SignOut</a>
                </li>    
            </ul>
        }
        @if (isLogin===false) 
    {   
            <ul class="flex items-center gap-2 ms-auto">
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                </li>
                <li>
                    <i class="fa-brands fa-tiktok"></i>
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                
                <li>
                    <a class="block  text-gray-600 rounded-sm md:bg-transparent " aria-current="page" routerLink="login">Login</a>
                </li>
                <li>
                    <a class="block  text-gray-600 rounded-sm md:bg-transparent " aria-current="page" routerLink="register">Register</a>
                </li>
            </ul>
        }
        
    </div>
  </div>
</nav>
