<section class="bg-gray-200 flex flex-col py-12 mt-5">
    <div class="mycontainer">
        <h1 class="text-3xl">Get the FreshCart app</h1>
        <p class="my-3">We will send you a link, open it on your phone to download the app</p>
        <div class="email flex ">
            <input type="text" class="rounded-md w-3/4 me-1.5" placeholder="Email ..">
            <button class="mybtn">Share App Link</button>
        </div>
        <hr class="my-5">
        <div class="pay flex justify-between py-2.5">
            <div class="payment flex gap-2">
                <h4>Payment Partners</h4>
                <img src="Images/amazon-pay.png" alt="" class="w-[40px]">
                <img src="Images/American-Express-Color.png" alt="" class="w-[40px]">
                <img src="Images/mastercard.webp" alt="" class="w-[40px]">
                <img src="Images/paypal.png" alt="" class="w-[40px]">
            </div>
            <div class="app flex gap-2">
                <h4>Get deliveries with FreshCart</h4>
                <img src="Images/get-apple-store.png" alt="" class="w-20">
                <img src="Images/get-google-play.png" alt="" class="w-20">
            </div>
        </div>
        <hr class="my-5">
    </div>
</section>