@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@layer components
{
}

.mycontainer
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.mybtn
{
   color: white;
    background-color: #059212;
    border-radius: 5px;
    padding: 0px 50px
}
